@{
    var area = Context.GetRouteValue("area")?.ToString();
    var controller = Context.GetRouteValue("controller")?.ToString();
    var showSidebar = area == "Sale" && controller == "HopDongs";
}

<!DOCTYPE html>

<html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sale.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sheraton.styles.css" asp-append-version="true" />
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header class="layout-header">
        <div class="brand">Sheraton</div>
        <div class="page-label">Trang Sale</div>
        <div class="user-info">
            Xin chào, Sale 1
        </div>
    </header>

    <nav class="layout-nav">
        <a asp-action="getHopDong" asp-controller="HopDongs" asp-area="Sale">Quản lý đặt tiệc</a>
        <a href="/Sale/HopDong/Edit">Quản lý khách hàng</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            @if (showSidebar)
            {
                @Html.Partial("~/Areas/Sale/Views/_Sidebar.cshtml")
            }
            <!-- Phần nội dung chính -->
            <main class="@(showSidebar ? "col-md-9" : "col-md-12") p-4">
                @RenderBody()
            </main>
        </div>
    </div>


    <footer class="layout-footer mt-auto">
        &copy; @DateTime.Now.Year Sheraton - Nhân viên Sale
    </footer>
</body>
</html>
