@model Sheraton.Models.HopDong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HopDong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienCoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienCoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.ChucVu)
        </dd>
    </dl>
    <h4>Lịch đặt sảnh</h4>
    @if (Model.LichDatSanhs != null && Model.LichDatSanhs.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Thời gian bắt đầu</th>
                    <th>Thời gian kết thúc</th>
                    <th>Trạng thái</th>
                    <th>Tên sảnh</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lich in Model.LichDatSanhs)
                {
                    <tr>
                        <td>@lich.BatDau.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@lich.KetThuc.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@lich.TrangThai</td>
                        <td>@lich.MaSanh</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Không có lịch đặt sảnh.</p>
    }

</div>
<div>
    <a asp-action="updateHopDong" asp-route-id="@Model?.MaHD">Edit</a> |
    <a asp-action="getHopDong">Back to List</a>
</div>
