@model IEnumerable<Sheraton.Models.HopDong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách hợp đồng đặt tiệc</h1>

<p>
    <a href="createHopDong">Thêm hợp đồng</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienCoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienCoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
            </td>
            <td>
                <a asp-action="updateHopDong" asp-route-id="@item.MaHD">Edit</a> |
                <a asp-action="detailsHopDong" asp-route-id="@item.MaHD">Details</a> |
                <a asp-controller="ChiTietDatTiecs" asp-action="getChiTietDatTiec" asp-route-id="@item.MaHD">ChiTiet</a>
            </td>
        </tr>
}
    </tbody>
</table>
