@model IEnumerable<Sheraton.Models.DichVu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="createDichVu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a asp-action="updateDichVu" asp-route-id="@item.MaDV">Edit</a> |
                <a asp-action="detailsDichVu" asp-route-id="@item.MaDV">Details</a> |
                <a asp-action="deleteDichVu" asp-route-id="@item.MaDV">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
