@model Sheraton.Models.SanhTiec

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SanhTiec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SucChua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SucChua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="updateSanhTiec" asp-route-id="@Model?.MaSanh">Edit</a> |
    <a asp-action="getSanhTiec">Back to List</a>
</div>
