@model IEnumerable<Sheraton.Models.SanhTiec>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản lý Sảnh Tiệc</h1>

<p>
    <a asp-action="createSanhTiec">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Ảnh</th>
            <th>
                @Html.DisplayNameFor(model => model.TenSanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SucChua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.HinhAnh" alt="Ảnh sảnh" style="width: 100px; height: auto; border-radius: 5px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SucChua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="updateSanhTiec" asp-route-id="@item.MaSanh">Edit</a> |
                <a asp-action="detailsSanhTiec" asp-route-id="@item.MaSanh">Details</a> |
                <a asp-action="deleteSanhTiec" asp-route-id="@item.MaSanh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
