@model Sheraton.Models.HopDong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HopDong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienCoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienCoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PTTT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PTTT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.ChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DichVu.MoTa)
        </dd>
        <dt class="col-sm-2">
            Đánh giá
        </dt>
        <dd class="col-sm-10">
            @if (Model.Ratings != null && Model.Ratings.Any())
            {
                <ul class="list-group">
                    @foreach (var r in Model.Ratings)
                    {
                        <li class="list-group-item">
                            <strong>⭐ @r.Score:</strong> @r.Comment <br />
                            <small class="text-muted">vào lúc @r.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small>
                        </li>
                    }
                </ul>
            }
            else
            {
                <span class="text-muted fst-italic">Chưa có đánh giá</span>
            }
        </dd>
        <dt class="col-sm-2">
            Món ăn đã đặt
        </dt>
        <dd class="col-sm-10">
            @if (Model.ChiTietDatTiecs != null && Model.ChiTietDatTiecs.Any())
            {
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Món ăn</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ct in Model.ChiTietDatTiecs)
                        {
                            <tr>
                                <td>@ct.MonAn?.TenMon</td>
                                <td>@ct.SoLuong</td>
                                <td>@(ct.TrangThai ?? "Chưa phục vụ")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <span class="text-muted fst-italic">Chưa có món ăn</span>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="updateSuKien" asp-route-id="@Model?.MaHD">Edit</a> |
    <a asp-action="getSuKien">Back to List</a>
</div>
