@model IEnumerable<Sheraton.Models.HopDong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienCoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PTTT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DichVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienCoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PTTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DichVu.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
